main {
    padding-top: 1%;
    padding-left: 11%;
    padding-bottom: 1%;
    background-color: blanchedalmond;
    
}
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
    margin-left: 10px;
}